/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
  Nextflow config file
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
  Default config options
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/

manifest {
    name             = 'euka_nf'
    author           = 'Merlin Szymanski'
    homePage         = ''
    description      = 'Implementation of a sedaDNA analysis workflow containing euka'
    nextflowVersion  = '>=22.10'
    version          = 'v0'
}

//cleanup = true
nextflow.enable.moduleBinaries = true

params{
    threads = 1
    // file input 
    split = false // a folder with bam files
    euka_dir = false // a fasta file

}

profiles {
    docker {
        docker.enabled         = true
        singularity.enabled    = false
    }
    singularity {
        docker.enabled         = false
        singularity.enabled    = true
        singularity.autoMounts = true
    }
    debug {
        cleanup                = false
    }
}

includeConfig "conf/process.config"