process {
    withName: "FRED_PSEUDOUNIQ" {
        publishDir = [
            path:"pseudouniq",
            mode:"copy",
        ]
        ext.args = "${params.pseudouniq_filterflag} ${params.pseudouniq_minlen} ${params.pseudouniq_mindup}"
    }

    withName: "VGAN_EUKA" {
        publishDir = [
            path: {"euka/${meta.sample}"},
            mode:"copy",
        ]
        ext.args = "--outFrag -t 1" 
    }
}